<%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
  <div class="btn btn-inverse">
    <%= link_to_add_association 'Add new row to executive summary table', f, :executives, style: "background-color: #262626; border: none; color: #fff;" %>
  </div>
<% end %>