<div class="home-btn"
<%= link_to "/", class: "home-icon-header" do %>
  <i class="fas fa-home home-icon-page"></i>
<% end %>
</div><br/>
<div class="progress">
  <div class="bar" style="width: <%= @progress %>%"></div>
</div>