<%= form_for @report, url: report_report_wizard_path, method: :put do |f| %>
  <div class="field">
    <%= yield f %>
  </div>
  <div class="btn btn-inverse">
    <%= f.submit "Save Changes" , style: "background-color: black; border: none; color: #fff; float: right;"%>
  </div>
<% end %>