<div class= "form-container">
  <%= render 'progress' %>
  <div class="heading">
    <%= render 'steps' %>
    <h2 class="head-large">Executive Summary</h2>
  </div>
  
  <%= link_to edit_report_path(@report) do %>
    <div class="btn btn-inverse nav-left">
      <div><i class="fas fa-angle-double-left "></i></div>
    </div>
  <% end %>
  
  <%= link_to next_wizard_path do %>
    <div class="btn btn-inverse nav-right">
      <div><i class="fas fa-angle-double-right"></i></div>
    </div>
  <% end %>
</div>