<div class="container">
  <div class="row cover">
    <div class="col-md-3">
        <div class="card mb-3 shadow home"><span>Create a Triage Report</span></div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 home-image">
        <%= image_tag "united_u.png" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 shadow home">
      <span>Create a DIA Report</span>
      </div>
    </div>
  </div>
</div>


