<div class="form-container">
<div class="progress">
<div class="progress-bar" style="width: <%= @progress %>%"></div>
</div>
  <div class="heading">
    <div class="progress">
      <%= wizard_steps.index(step) + 1 %>/
      <%= wizard_steps.count %>
    </div>
      <h2 class="head-large">Project Information</h2>
  </div>

  <hr style="height: .1rem; background-color: #262626; width:100%;">
  
    <div class="actions nav-right">
      <%= link_to next_wizard_path, class: "btn btn-inverse" do %>
        <div><i class="fas fa-angle-double-right"></i></i></div>
      <% end %>
    </div>
</div>