<div class= "form-container">
  <div class="heading">
    <h2 class="head-large">Project Information</h2>
  </div>

  <hr style="height: .1rem; background-color: #262626; width:100%;">
  
  <%= link_to next_wizard_path do %>
    <div class="btn btn-inverse nav-right">
      <div><i class="fas fa-angle-double-right "></i></div>
    </div>
  <% end %>
</div>