@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';
@import 'variables';

.btn {
  background-color: #fff;
  font-size: inherit;
  color: #212529;
  padding: .7rem 1.5rem;


  &:hover {
    background-color: #f2f2f2;
  }
}

.btn-inverse {
  background-color: var(--dark-color);
  color: #fff;

  &:hover {
    background-color: #363738;
    color: #fff;
  }
}

.form-item {
  padding-bottom: 2rem;
}

.form-field {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.form-label {
  padding-top: 1rem;
}

.form-input {
  width: 70%;
  height: 3.5rem;
}

.description {
  height: 10rem;
}

.card {
  background-color: #212529;
}
.card-body {
  padding: 5rem;
  background-color: #212529;
  color: #fff;
}

.card-header {
  background-color: #212529;
  color: #fff;
  border: none;
  padding-top: 3rem;
}

.card-box {
  width: 50%;
  height: 20vh;
}

.form-control {
  height: 40px;
  font-size: 90%;
}

.link-text {
  text-decoration: none;
  color:  var(--body-font-color);

  &:hover {
    color: #e4d4d4;
    background-color: inherit;
  }
}

.form-container {
  margin-left: 10rem;
  margin-right:10rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

.heading {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
  padding-top: 3rem;
  margin: auto;
  text-align: center;
}

.steps {
  font-family: inherit;
  font-size: 18px;
  padding-right: 5rem;
  height: 3rem;
  background-color: inherit;
  text-align: center;
  line-height: 1.3;
}


