/* Navigation styles */
.hamburger-menu {
  display: none;
}

.nav {
  width: 28rem;
  height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: fixed;
  left: 5;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.intro {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 5rem 0;
  line-height: 1.5;
}

.intro-heading {
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.intro-subhead {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.sidebar-list {
  list-style: none;
  padding-top: 2rem;
  left: 0;
}

.sidebar-item {
  position: relative;
}

.sidebar-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .1); 
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.sidebar-item:hover {
  background-color: #777;
}

.sidebar-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, .05)
}

.accordion {
  position: relative;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.active, .accordion:hover {
  background-color: #777; 
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--light-color);
  padding: 1rem 0 1rem 2rem;
  overflow: hidden;
}

.sub-links {
  list-style-type: none;
}

.sidebar-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-color);
  padding: 1rem;
}

.sidebar-link-sub {
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--light-color);
  padding: 1rem 0 1rem 0;
}

/* Main Styles */
.main {
  width: calc(100% - 26rem);
  transform: translateX(27rem);
}

.title-block {
  width: 90%;
  text-align: right;
}

.logo-image {
  width: 20%;
}

section:not(.hero) {
  padding: 5rem 0;
}

/* Hero styles */
.hero {
  min-height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 90%;
  user-select: none;
  -webkit-user-drag: none;
  margin-top: auto;
  position: relative;
  z-index: 2;
}

.appendix-image {
  max-width: 90%;
  user-select: none;
  -webkit-user-drag: none;
  margin-top: auto;
  position: relative;
  z-index: 2;
  padding-bottom: 10rem;
}

.container {
  max-width: 100%;
  /* max-width: 110rem; */
  margin: 0 auto;
  padding: 0 5rem;
  text-align: justify;
}

.address {
  margin-top: 2rem;
}

.website {
  font-size: 85%;
}

.heading-group {
  color: var(--dark-color);
  margin-bottom: 5rem;
}

.section-head-small {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.section-head-large{
  font-size: 1.8rem;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  letter-spacing: .5rem;
}


/* Media queries */
@media screen and (max-width: 1030px) {
  .nav {
      transform: translateX(-29rem);
      transition: transform .5s;
  }

  .is-open .nav {
      transform: translateX(0);
  }

  .hamburger-menu {
      display: flex;
      width: 5rem;
      height: 5rem;
      background-color: var(--dark-color);
      color: var(--light-color);
      position: fixed;
      top: 0;
      left: 0;
      font-size: 2.6rem;
      cursor: pointer;
      transition: transform .5s;
      z-index: 2000;
  }

  .hamburger-menu i {
      margin: auto;
  }

  .close {
      display: none;
  }

  .is-open .hamburger-menu {
      transform: translateX(21rem);
  }

  .is-open .close {
      display: block;
  }

  .is-open .open {
      display: none;
  }

  .main {
      width: 100%;
      transform: initial;
  }

  .hero {
      height: 80vh;
  }

  .name-heading {
      font-size: 25vw;
  }

  .portfolio-item-info {
      background-color: rgba(0, 0, 0, .5);
      opacity: 1;
  }

  .project-name {
      transform: translateY(0);
  }

  .project-type {
      transform: translateY(0);
  }

  .info-btn:first-child {
      margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .grid,
  .my-portfolio .grid {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .hero {
      height: 50rem;
  }

  .call-to-action p {
      font-size: 2rem;
  }

  .motto {
      height: 60vh;
  }


  .quote::before,
  .quote::after {
      font-size: 10rem;
  }

  .quote::before {
      top: -4rem;
      left: -3rem;
  }

  .quote::after {
      bottom: -9rem;
      right: -1rem;
  }

  .quote-by {
      margin-top: 4rem;
  }

  .timeline-entry-name {
      display: block;
      font-size: 1.6rem;
  }

  .timeline-heading spam {
      font-size: 1.4rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px){
  .nav {
      overflow-y: scroll;
  }

  .hero {
      height: initial;
      min-height: 100vh;
  }
}

@media screen and (min-width: 1925px){
  html {
      font-size: 75%;
  }
}

/* Tables */
table {
border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
}

.project-table {
  padding-top: 1rem;
}

table td {
padding: 15px;
}
table thead td {
background-color: #54585d;
color: #ffffff;
font-weight: bold;
font-size: 13px;
border: 1px solid #54585d;
}
table tbody td {
color: #636363;
border: 1px solid #dddfe1;
}
table tbody tr {
background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
background-color: #ffffff;
}

.table-name {
  font-size: 85%;
}

.summary-list{
  /* list-style: none; */
  padding-top: .5rem;
  padding-left: 3rem;
}

.summary-list li {
  padding-bottom: .4rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-close {
  color: var(--dark-color);
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popup-close:hover {
  color: rgb(110, 108, 103);
}

.popup-content {
  width: 68%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-image {
  display: block;
  width: 100%;
}